* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scale {
    background-color: aqua;
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    /* *It make the transformation smooth like */
    /* transition-property: all;
    transition-timing-function: linear;
    transition-duration: 3s;
    transition-delay: 1s; */
    transition: all linear 3s 1s;
}

.scale:hover {
    transform: scale(2);
}

.rotate-x {
    background-color: aqua;
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    transition: all linear 3s 1s;
}

.rotate-x:hover {

    transform: rotateX(45deg);
}

.rotate-y {
    background-color: aqua;
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    transform: rotateY(45deg);

}

.rotate-z {
    background-color: aqua;
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    transform: rotateZ(45deg);
}

/* * Animations */

@keyframes myAnimation {
    0% {
        position: absolute;
        top: 2rem;
        right: 0;
    }

    20% {
        position: absolute;
        top: 2rem;
        right: 10rem;
    }

    50% {
        position: absolute;
        top: 2rem;
        right: 15rem;
    }

    80% {
        position: absolute;
        top: 2rem;
        right: 10rem;
    }

    100% {
        position: absolute;
        top: 2rem;
        right: 0;
    }
}

.animate-me {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 2rem;
    right: 0;
    background-color: yellow;
    animation: myAnimation 15s 2s linear infinite reverse;
}