ul {
    /* *This will remove the bullet or any type of style from the list */
    list-style: none;
}

ol {
    /* shorthand for
    list-style-type : square | cirlce | upper-roman | none | etc
    list-style-position : outside (default) | inside
    list-style-image :url("images.gif")
    */
    list-style: lower-greek inside;

}