

/* *An unvisited link */
a:link{
    color: green;
}

/* *when an link is already visited */
a:visited{
    color:red;
}

/* * when we hover around a link */
a:hover{
    color: aqua;
    font-size: 2rem;
}

/** When we press a link then link is in active state and when we release the press its active state is removed */
a:active{
    color: blue;
}


form input:disabled{
    background-color: blueviolet;
}

form input:focus{
    font-size: large;
}

div:first-child{
    font-size: 2rem;
}

div:last-child{
    font-size: 2rem;
}

div:nth-child(2){
    font-size: 2rem;
}

/* *select all the div which is not the first child div of any parent */
div:not(div:first-child){
    background-color: aqua;
}