
h1[class="desc"]{
    color: blue ;
}

/* *selects an input tag whose name contains "password" as a whole seperate word */
input[name ~= "password"]{
    background-color: aqua;
}

/* *should have exactly the specified value or specified value followed by hypen (-)*/
input[name |= "email"]{
    background-color: beige;
}

/* *  ^(starts with) $(ends with) *(contains, but not like ~ ,the value doesn't have to be whole word */

/* *conatains */
input[name *= "er"]{
    border: 5px solid olive;
}

/* *starts with */
input[name ^= "T"]{
    border: 5px solid orange;
}

/* * ends with */
input[name $= "e"]{
    border: 5px solid rgb(141, 27, 46);
}