*{
    box-sizing: border-box;
}

a{
    /* *this will remove the underline from the anchor tag */
    text-decoration: none;
}
header{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    /* * this make all the text in capitalize format */
    text-transform: capitalize;
}

footer{
    width: 50%;
    /* border: 1px solid black; */
    margin: 50px auto;
    padding: 10px; 

    /* background-color: orange; */
    box-shadow: 3px 3px 8px rgb(233, 186, 98);

    text-align: center;
    /* *text-decoration-thickness text-decoration-line text-decoration-style text-decoration-color */
    text-decoration: 2px underline overline solid black;
    text-shadow: 2px 2px 4px  rgb(46, 192, 107) ;
    font-size: 1.5rem;

}

.desc{
    width: 50%;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    /* *justify makes each line an equal width by stretching the line like in newpaper and magazines */
    text-align: justify;
    /* *this makes list line of the text to be center */
    text-align-last: center;

    /* spacing properties */
    line-height: 1.5rem;
    word-spacing: .3rem;
    text-indent: 3rem;
    letter-spacing: .1rem;
}