
html,body{
    height: 100vh;
}

.container{
    display: grid;
    height: 100%;
    margin: 50px;
    border: 1px solid black;
    /* * repeat() fn does what it says like repeat something x many times. We can use this when we have repeated declaration like for eg*/
    /* *auto-fill and auto-fit works same most of the time i.e it add columns/row when there is available space, but in "auto-fill"=> It add empty column/row at the end if it has space at the end, But in "auto-fit"=> It takes all the space and doesn't leave empty space at the end */
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */

}

.item-1{

    background-color: aqua;
    border: 1px solid deeppink; 
}
.item-2{
    background-color: burlywood;
    border: 1px solid deeppink;
}
.item-3{

    background-color:blanchedalmond;
    border: 1px solid deeppink;

}
.item-4{
    background-color:blueviolet;
    border: 1px solid deeppink;
}
.item-5{

    background-color:pink;
    border: 1px solid deeppink;
}
 