
html,body{
    height: 100%;
}

.container{
    display: grid;
    height:500px;
    margin: 50px;
    border: 1px solid black;
    grid-template-columns: 1fr 2fr;
}

.item-1{
    /* *footer */
    background-color: aqua;
    /* *column line start at 1 and end at last index i.e -1 */
    grid-column: 1 / -1;
    /* *row line start at 3 and end at 4 */
    grid-row: 3 / 4;
}
.item-2{
    /* *content */
    background-color: burlywood;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}
.item-3{
    /* *header */
    background-color:blanchedalmond;
    /* * x / span y means starting from x extend to x+y column/row line number */
    grid-column: 1 / span 2;
    grid-row : 1 / 2;
    /* *can take value = stretch (default) | start | end | center */
    /* justify-self: center; */
    /* *can take value = stretch (default) | start | end | center */
    /* align-self : center; */

    /* *shorthand to use both properties in one is place-self */
    place-self: center center;
}
.item-4{
    /* *sidebar */
    background-color:blueviolet;
    grid-column: 1 / span 1;
    grid-row: 2 / 3;
}
