*{
    padding: 0;
    margin: 0;
    /* * By default the box-sizing is content-box; which means when we specify width of an element then that width is just the width of an content area inside of that element */
    /* box-sizing: content-box; */

    /* *this makes sure that if we specify width then content+padding+border should sum up to that width */
    box-sizing: border-box; /* *Recommended*/
}



/* * there will be an margin collapse between these 2 elements */
.first{
    border: 1px solid black;
    width:200px;
    padding: 10px;
    margin:50px auto ;
}

.second{
    border: 1px solid black;
    width:200px;
    padding: 10px;
    margin:30px auto ;
}