* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.container {
    width: 50%;
    min-width: 250px;
    height: fit-content;
    margin: 50vh auto;
    border: 10px solid rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 1rem 2rem rgba(194, 182, 12, 0.6);


    /* *This will hide the content which are overflowing/going outside of the contaienr width */
    overflow: hidden;
    /* *This will make sure the overflow elements are scrollable towards x axis */
    overflow-x: auto;
    /* * This will hide the scroll bar */
    scrollbar-width: none;

    transform: translate(0%, -50%);
}

.container__images {
    display: flex;
    gap: 2rem;
}

.container__image {
    height: 300px;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(194, 182, 12, 0.6);
    transition: all 400ms linear;

}

.container__image img {
    object-fit: cover;
    border-radius: 2rem;

}

.container__image:hover {
    scale: 1.1;
}