* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    background-color: gray;
}

:root {
    --color-blue: linear-gradient(to right, rgb(85, 121, 240), rgb(85, 121, 240), rgb(57, 102, 250), rgb(35, 82, 250), rgb(13, 61, 252));
    --color-primary: rgb(85, 121, 240);
    --color-white: #fff;
}

.container {
    max-width: 25rem;
    min-width: 20rem;
    height: 60%;
    margin: auto;
}

.card {
    max-width: 25rem;
    min-width: 15rem;
    height: 100%;
    margin: 0.8rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    transform: translate(0, 50%);
}

.card__top {
    height: 35%;
    background: var(--color-blue);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 2rem;
}

.card__top-left {
    color: var(--color-white);
}

.card__top-date {
    font-size: 5rem;

}

.card__top-month {
    font-size: 1.3rem;

}

.card__top-right {
    margin: 1rem;
    color: var(--color-white);
    font-size: 1.3rem;
}

@keyframes scale-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.card__top-right i {
    margin-bottom: 0.8rem;
    animation: scale-animation 2s infinite ease-in-out;
}