
/* *descendant selector  (space)*/
section p{
    background-color: aqua;
}

/* *child selector (>)*/
div > div{
    font-weight: bold;
}

/* *adjacent sibling selector (+) = immediate sibling */
.myClass + div{
    font-size: 1.5rem;
}

/* *general Sibling (~) */
.myClass ~ div{
    
    border: 1px solid gold;
}