* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    background-color: teal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    width: 360px;
    height: 35%;
    display: grid;
    margin: 0.5rem;
    gap: 5px;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;

}

.items {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}