html,body{
    height: 100%;
}

.container{
    display: grid;
    height: 50%;
    margin: 50px;
    border: 1px solid black;

    /* grid parent's properties */

    /* This properties are used to define the grid structure like how many columns and rows our grid will have */

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% auto */

    /* we can give name to the lines using [] and one line can have multiple names*/
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 1fr [col-2-end];
    grid-template-rows:[row-1-start] 33% [row-1-end row-2-start] 33% [row-2-end row-3-start] auto [row-3-end];
    /* gap : row-gap column-gap */
    gap: 5px 8px;
    
    /* other properties are
        align-items , justify-items , place-items
        align-content , justify-content , place-content
    */
    
    /* default is stretch*/
    /* can have values : start | stretch | end | center */
    /* justify-items: center;  */

    /* default is stretch */
    /* can have values : start | stretch | end | center */
    /* align-items: stretch;*/
    
    /* both align-items and justify-items can be written in one property */
    /* place-items : <align-items> <justify-items> */
    /* place-items: start start; */

    /* sometimes the total size of your grid(all the columns size & rows size) might be less than the size of its grid container. This could happen if all of your grid items are sized with non-flexible units like px. In this case you can set the alignment of the grid within the grid container */

    /* overriding grid-template-columns & grid-template-rows*/
    grid-template-columns: [col-1-start] 100px [col-1-end col-2-start] 200px [col-2-end];
    grid-template-rows:[row-1-start] 100px [row-1-end row-2-start] 33% [row-2-end row-3-start] 50px [row-3-end];

    /* default value is stretch */
    /* values : stretch | start | end | center | space-around | space-between | space-evenly */

    /* align-content: center;
    justify-content: center; */

    /* place-content : <align-content> <justify-content> */
    place-content: center center;

}

.item-1{
    background-color: aqua;
}
.item-2{
    background-color: burlywood;
}
.item-3{
    background-color:blanchedalmond;
}
.item-4{
    background-color:blueviolet;
}
.item-5{
    background-color: steelblue;
}