

/* * selects the first letter of the element  */
.first-letter::first-letter{
    font-size: 1.5rem;
}

/* *select the file line of the element */
.first-line::first-line{
    color: darkblue;
}

/* *add specified content before the selected element contents */
.add-before::before{
    content: "Rahul ";
}

/* *add specified content after the selected element contents */

.add-after::after{
    content: " Singh";
}

/* *add this pseudo element selector to every element who has been selected using mouse */
::selection{
    background-color: yellowgreen;
}