*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 1250px;
}
.bg-image{
    /* * width:50% will add resposiveness but when we squish the image then it'w width will also be 50% which will make image squsih from side. To encounter this problem we use max-with and min-width */
    /* width : 50%; */
    max-width : 50%;
    min-width: 450px;
    height: 50%;
    padding: 5px;
    border: 1px solid violet;

    /* background-image: url("./images/pic.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box; default is padding-box
    background-attachment: local; */

    /* *shorthand for background property */
    background: rgba(136, 133, 133, 0.1) url("./images/deer.jpg") left top/contain no-repeat content-box scroll ;

    outline: 10px dotted orange;
}
