
html,body{
    height: 100%;
}

.container{
    display: grid;
    height:500px;
    margin: 50px;
    border: 1px solid black;
    /* *minmax() fn does what it says like min vlaue of the grid columns will be 200px and maximum vlaue will be 1 fr . If the viewport squish down and its width < 200px then also the minwidth will still be 200px with scrollbar added*/
    /* grid-template-columns: minmax(200px,1fr) minmax(200px,1fr); */

    /* *we can use "min-content = longest non-breaking text" and "max-content= length of whole text"*/
    /* *example if we have text content = "Web application developer" then min-content = maxLength(of all the words)=11 i.e application & max-content = length of whole text content */
    /* grid-template-columns: minmax(min-content,1fr) minmax(max-content,1fr); */

    /* *we also have fit-content(500px) = minmax(min-content,500px)   */
    /* *fitcontent(N px): can have minimum width = min-content and maximum width = min(max-content,Npx) */
    grid-template-columns: fit-content(500px) fit-content(500px);
}

.item-1{

    background-color: aqua;
    
}
.item-2{

    background-color: burlywood;
   
}
.item-3{

    background-color:blanchedalmond;
 
}
.item-4{

    background-color:blueviolet;

}
.item-5{

    background-color:pink;

}
 